#navigation {
  display: none;
}

#webslides {
  background-color: #faf9f6;
}

/* #webslides {
  background-image: url('./static/images/alpha_logo.png');
  background-position: left top;
} */

div#main {
  clear: right;
}

/* Start of alert */
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  display: none;
}

/* The alert close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
/* End of alert */

textarea.user_input {
    background-color: transparent;
    position: relative;  
    width: 50%;
    height: 25vh;
    resize: none;
    border-radius: 15px;
    border-width: 2px;
    border-color: #1A1A1A;
    padding: 10px;
    z-index: 0;
}

#promptText {
  height: 10vh;
}


/* Start of Loading Animation */
#loading_display {
  display: none;
}

.loading_animation {
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
}
.bar {
  width: 15px;
  height: 90px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  animation: loader 1.2s linear infinite;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: whitesmoke;
  }
  50% {
    transform: scaleY(1);
    background: yellowgreen;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
/* End of Loading Animation */

/* Start of Go Button */
.goButton {
  position: relative;
  background-color: #EAE1DF;
  border: 2px solid #545E56;
  border-radius: 30px;
  box-shadow: #545E56 4px 4px 0 0;
  color: #545E56;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 0;
}

.goButton:hover {
  background-color: #FFFFFF;
}

.goButton:active {
  box-shadow: #545E56 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .goButton {
    min-width: 120px;
    padding: 0 25px;
  }
}
/* End of Go Button */

/* Start of tutorial */

div#tutorial {
  float: right;
}

.nextButton {
  visibility: hidden;
  transition: opacity 1s ease-out;
  opacity: 0;
  position: absolute;
  background-color: #f1eeee;
  color: #0f0f0f;
  border-radius: 20px;
  border-color: #0f0f0f;
  border-width: 2px;
  margin-left: 20px;
}

.nextButton#nextButton2 {
  margin-left: 35px;
}

.tooltip {
  visibility: hidden;
  transition: opacity 1s ease-out;
  opacity: 0;
  position: absolute;
  width: 220px;
  margin-left: 10px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 20; /* Positioned above the overlay */
}

.tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #333 transparent transparent;
}

.tutoButton {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.tutoButton:disabled {
  pointer-events: none;
}

.tutoButton:hover {
  color: #fff;
  background-color: #1d1c1c;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.tutoButton:active {
  box-shadow: none;
  transform: translateY(0);
}

#overlay {
  position: fixed; /* Fix the position so that it covers the entire viewport */
  top: 0;
  left: 0;
  width: 100%; /* Cover the full width */
  height: 100%; /* Cover the full height */
  background-color: rgba(0,0,0,0.7); /* Black overlay with 70% opacity */
  z-index: 10; /* Positioned above the content, but below the tooltip */
  display: none;
}

/* End of tutorial */