<html>
    <head>
        <title>Prompt the AI</title>
        <link rel="icon" href="./static/images/rocket.ico" type="image/x-icon">
        <link rel="stylesheet" href="./static/css/style.css">
        <link rel="stylesheet" href="./static/css/webslides.css">
    </head>
    <body>
        <main role="main">
          <article id="webslides" class="vertical">
            <section>
              <div id="overlay"></div>
                <span class="background" style="background-image: url('./static/images/alpha_logo.png'); background-size: 150px, 150px; background-position: top left; margin: 50px"></span>
                <div class="wrap aligncenter">

                  <!--Start of loading animation -->
                  <div class="loading_animation" id="loading_display">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>
                    <div class="bar bar4"></div>
                    <div class="bar bar5"></div>
                    <div class="bar bar6"></div>
                    <div class="bar bar7"></div>
                    <div class="bar bar8"></div>
                  </div>
                  <!--End of loading animation -->

                  <!--Start of tutorial button-->
                  <div id="tutorial">
                    <button id="startTutorial" class="tutoButton" onclick="showTutorial1()">Tutorial</button>
                  </div>
                  <!--End of tutorial button-->
                  <div id="main">
                    <h2>Source Text or Context</h2>
                    <textarea class="user_input" id="sourceText" placeholder="Enter source text / context (optional)"></textarea>
                    <span class="tooltip" id="myTooltip1">Here you can enter anything, the prompts that you enter later below will refer here to look for context.
                      <br>
                      <br>
                      For example, if you enter "cats" here, and then enter "joke" in the prompts below, you'll get a joke about cats.
                      <button class="nextButton" id="nextButton1" onclick="showTutorial2()">OK</button>
                    </span>

                    <h2>Prompts</h2>
                    <textarea class="user_input" id="promptText" placeholder="Enter prompts (required)"></textarea>
                    <span class="tooltip" id="myTooltip2">Type what you want the AI to do, the AI will look above for some context if there is any.
                    <button class="nextButton" id="nextButton2" onclick="closeTutorial()">OK</button>
                    </span>
                  </div>
                  <div class="alerts">
                    <div class="alert" id="prompt_alert">
                      <span class="closebtn" onclick="closePromptAlert()">&times;</span>
                      Please enter prompts for this to work.
                    </div>
                    <div class="alert" id="overload_alert">
                      <span class="closebtn" onclick="closeOverloadAlert()">&times;</span>
                      We've detected that GPT model is currently overloaded!
                      <br>
                      Your prompts are queued and will get a response when GPT model is available.
                    </div>
                  </div>
                  <button class="goButton" role="button" onclick="readInput()" id="goButton">Go</button>
                </div>
            </section>
            <section>
              <div class="wrap aligncenter">
                <pre>
                  <p id="result"></p>
                </pre>
              </div>
            </section>
          </article>
        </main>
      
      <script src="./static/js/webslides.js"></script>
      <script src="./static/js/scripts.js"></script>
      <script>
        window.ws = new WebSlides();
      </script>
    </body>
</html>