<html>
    <head>
        <title>Prompt the AI</title>
        <link rel="icon" href="./static/images/rocket.ico" type="image/x-icon">
        <link rel="stylesheet" href="./static/css/style.css">
        <link rel="stylesheet" href="./static/css/webslides.css">
    </head>
    <body>
        <main role="main">
          <article id="webslides" class="vertical">
            <section>
              <span class="background" style="background-image: url('./static/images/alpha_logo.png'); background-size: 150px, 150px; background-position: top left; margin: 50px"></span>
              <div class="wrap aligncenter">
                  <!--Start of loading animation -->
                  <div class="loading_animation" id="loading_display">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>
                    <div class="bar bar4"></div>
                    <div class="bar bar5"></div>
                    <div class="bar bar6"></div>
                    <div class="bar bar7"></div>
                    <div class="bar bar8"></div>
                  </div>
                  <!--End of loading animation -->
                    
                    <h2>Source Text or Context</h2>
                    <textarea class="user_input" id="sourceText" placeholder="Here you can enter source text or provide some context for the AI to refer to"></textarea>
                    <h2>Prompts</h2>
                    <textarea class="user_input" id="promptText" placeholder="Enter your prompts, this is required"></textarea>
                    <div class="alert" id="prompt_alert">
                      <span class="closebtn" onclick="closePromptAlert()">&times;</span>
                      Please enter prompts for this to work.
                    </div>
                    <div class="alert" id="overload_alert">
                      <span class="closebtn" onclick="closeOverloadAlert()">&times;</span>
                      We've detected that GPT model is currently overloaded!
                      <br>
                      Your prompts are queued and will get a response when GPT model is available.
                    </div>
                    <br>
                    <button class="niceButton" role="button" onclick="readInput()" id="goButton">Go</button>
              </div>
            </section>
            <section>
              <div class="wrap aligncenter">
                <pre>
                  <p id="result"></p>
                </pre>
              </div>
            </section>
          </article>
        </main>
      <script src="./static/js/scripts.js"></script>
      <script src="./static/js/webslides.js"></script>
      <script>
        window.ws = new WebSlides();
      </script>
    </body>
</html>